@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
}
.list {
  list-style: none;
  color: inherit;
}

.header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link,
.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.description {
  font-size: 22px;
  font-weight: 400;
}

.item-title {
  font-size: 24px;
  font-weight: 700;
}

.item-description {
  font-size: 18px;
  font-weight: 400;
}

.with-background {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #000000;
}

.subscrib-fild {
  font-size: 18px;
  font-weight: 400;
}



.inner-header-container {
  background-image: url(../images/inner-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
}


.inner-header-title {
  font-size: 60px;
  font-weight: 700;
}
