@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans-400.woff2),
    url(../fonts/ptsans-700.woff2);
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
}

.index-wripper,
.wrapper,
.list,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT sans';
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.curent-link {
  border-bottom: 1px solid #756257;
}

.visually-hidden {
  display: none;
}

.index-wripper {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;

}

.wrapper {
  width: 1200px;
  min-height: max-content;
  margin-left: auto;
  margin-right: auto;

}

.page-header {
  width: 100%;
  height: 64px;
  border: 1px solid black;
}

.page-header-navigation {
  width: 1060px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.city-logo {
  margin-right: 30px;
}

.main-menu-list {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-weight: bold;
  margin-right: 285px;
}

.main-menu-item {
  width: 100px;
}

.main-menu-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.user-menu-list {
  width: 88px;
  height: 100%;
  display: flex;
  margin-right: 23px;
}

.user-menu-item {
  width: 44px;

}

.user-menu-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.like-range {
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: #7DB54F;
  position: relative;
  top: -54px;
  left: 25px;
  z-index: 2;
  border-radius: 50%;
  color: white;
  font-size: xx-small;
}

.btn {
  border-radius: 4px;
  padding: 8px 50px;
  width: fit-content;
  height: fit-content;
  color: #FFFFFF;
  border-color: transparent;
}

.btBrown {
  background-color: #756157;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;

}

.hero {
  width: 100%;
  height: 767px;
  background-image: url(../images/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.anons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  text-align: center;
}

.anons p {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
}

.bottomPart {
  height: 261px;
  position: relative;
  top: 506px;
}

.interest {
  height: 406px;
  padding: 96px 304px;
  box-sizing: border-box;
}

.invitation {
  height: 246px;
}

.advantages {
  width: 100%;
  height: 1155px;

}

.advantages-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

}

.advantages-list-item {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  text-align: center;
}

.rectangle {
  width: 60px;
  height: 2px;
  background-color: #A1A8AD;
}

.light {
  background-color: #A7CAE0;
}

.advantages-list-picture {
  width: 800px;
  height: 385px;
  display: block;
}

.blueGray {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.lightGr {
  background-color: #E6F0F6;
}

.futures {
  width: 100%;
  height: 385px;
  display: flex;
  align-items: stretch;
}

.futures-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.futures-list-item {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 85px;
}

.future-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

.interestBtn {
  margin-top: 54px;
}

.subscription {
  width: 100%;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 96px 258px 104px;
  text-align: center;
}

.with-background {
  background-image: url(../images/Subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.subscripting-controls {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: stretch;

}

.subscrib-input {
  flex-grow: 2;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}

.subscrBtn {
  height: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
}

.page-footer {
  width: 100%;
  height: 120px;
  padding: 40px 70px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

}

.socials-list {
  width: 142px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.socials-list-item {
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.socLink {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.contact-phone {
  display: flex;
  width: 331px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase
}

.academy-logo {
  display: flex;
  width: 115px;
  height: 50px;
  justify-content: center;
  align-items: center;

}

/* page 2 */

.inner-header {
  width: 100%;
  height: 412px;
  background-image: url(../images/Inner-filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  color:#FFFFFF;
  box-sizing: border-box;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}

.breadcrumbs-list {
  width: 114px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs-link {
  font-size: 16px;
  color:#FFFFFF;
}

.catalog-filter {
  width: 100%;
  height: 160px;
  /* display: flex; */
}
.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  width: 150px;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
}

.search-result {
  width: 100%;
  height: 139px;
  padding: 50px 70px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

.search-result-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;

}

.select-control {
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

.view-type {
  width: 160px;
  height: 48px;
  display: flex;
}

.hotels {
  width: 1060px;
  height: 896px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.hotel-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.hotel-card {
  width: 340px;
  height: 438px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center; */
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.apointment {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}
